body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;



}
.header{
    background-image: url(image_real.jpg);
    background-size: cover;
    background-position:center;
    height: 100vh;
}
.main-container{
    padding:20px 60px;
}
.same{
    margin: 0;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
/* .clock-call{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
} */
.menu-bar-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);

}
.clock-container{
    padding-left: 200px;

}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
div ul li a{
    text-decoration: none;
    color: white;
}
div ul li{
    padding: 0 10px;
}
/* .cert{
    width: 60px;
    height: 60px;
    display: inline-block;
} */
/* .cert p{
    background-color: green;
    margin-left: 450px;
} */
.day{
 margin-bottom: 0;
 padding: 0;
}

.time{
    margin-top: 0;
    padding: 0;
}
button {
    padding: 15px;
    text-transform: uppercase;
    font-size: 10px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;   
}
.btn1{
    background-color: rgb(10, 170, 170);
    color: white;
}
.btn2{
    background-color: white;
    color: teal;
}
.statement{
    margin-top: 100px;
}
